<% editing = user.persisted? %>
<% action_url = editing ? user_url(user) : user_url %>


<form action="<%= action_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <% if editing %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <% unless editing %>
    <label for="user_name">Username</label>
    <input
      type="text"
      id="user_name"
      name="user[user_name]"
      value="<%= user.user_name %>">
    <br>
  <% end %>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <br>

  <input type="submit" value="Submit to our will.">
</form>