<table>
  <tr>
    <th>Cat Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  <% @requests.each do |request| %>
  <tr>
    <td><%= request.cat.name %></td>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
    <td><%= request.status %></td>
  </tr>
  <% end %>
</table>